/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

$font-family-base: 'Montserrat', sans-serif;

@import "bootstrap";

.jumbotron {
  background: url('https://thoughtcatalog.files.wordpress.com/2017/03/pexels-photo-196667.jpeg?w=1140&h=760&resize=1140,760&quality=95&strip=all&crop=1');
  background-color: inherit;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
